!**/src/main/**
!**/src/test/**
!*/build/*.html
!*/build/*.java
!*/build/*.xml
!.mvn/wrapper/maven-wrapper.jar
*.class
*.ctxt
*.ear
*.iml
*.ipr
*.iws
*.jar
*.log
*.nar
*.rar
*.tar.gz
*.war
*.zip
.apt_generated
.classpath
.factorypath
.idea/
.idea/*.cookies
.idea/*.http
.mtj.tmp/
.project
.settings
.springBeans
.sts4-cache
.vscode/
/.nb-gradle/
/build/
/dist/
/nbbuild/
/nbdist/
/nbproject/private/
/out/
HELP.md
build/*
hs_err_pid*
rebel.xml
target/
zephyrlogs/